@import '@/assets/scss/_laconic';
$black: #000;
$red: red;
$gray: #f0f0f2;
$yellow: #ffdd00;


@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#home-page {
  min-height: 100vh;

  &.intro-enter-active {
    opacity: 0;
  }

  h3 {
    color: #fff;
  }

  &.intro-enter {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  }

  &.page-leave-active {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
  }

  &.page-leave-to {
    opacity: 0;
  }

  @mixin transition {
    transition: all $time ease;
  }
  $time: 300ms;

  --rotateSpeed: 30s;
  --mauvinSpeed: 5s;
  --ballColor: #fff;
  --wallColor: #555;
  --floorColor: #666;
  $mauvinLight: 90%;
  --bgx: 0;
  --bgy: 0;

  h1 {
    font-size: 50px;
    color: white;
  }

  h2 {
    margin-top: 30px;
    font-size: 25px;
  }

  p {
    color: #fff;
    font-size: 32px;
    line-height: 40px;
  }



  #intro-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: calc(100vw );
    overflow: hidden;
    // background-color: $yellow;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: calc(100% - 300px);
      margin: auto;
      pointer-events: none;
      // background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(9,121,16,0) 0%, rgba(0,0,0,1) 100%);
      z-index:1;
      // background: radial-gradient(circle, rgb(189 190 172 / 0%) 10%, black 100%);
      background: radial-gradient(circle, rgb(0 0 0 / 0%) 6%, black $mauvinLight);
    }

    #settings-container {
      position: fixed;
      top: 0;
      right: 0;
      max-width: 300px;
      width: 100%;
      height: 100vh;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 64px 32px;
      // background-color:$yellow;
      background: #e0e0e0;
      background-size: contain;
      background-repeat: no-repeat;
      box-shadow: 3px 3px 0px rgb(0 0 0 / 10%);
      z-index: 3;
      background: linear-gradient(190deg, rgb(255 221 2) 0%, #b59e06 100%);
      background-position: --bgx --bgy;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:url('/img/cover-texture.png');
        z-index: 1;
        pointer-events: none;

      }

      #margin-logo {
        position: relative;
          z-index:1;
        background-image: url('/img/logo.svg');
        width: 100%;
        max-width: 460px;
        height: 8%;
        min-height: 35px;
        margin: 0 auto 10px auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      h5 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
        text-align: center;
        font-family: 'Luckiest Guy', cursive;
      }

      h4 {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        font-family: 'Luckiest Guy', cursive;
      }

      .setting {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        &.data-container {
          width: 100%;
          background: white;
          border-radius: 20px;
          padding: 10px;
         box-shadow: 3px 3px 0px rgb(0 0 0 / 10%);
        }

        &.rangeSlider {
          max-width: 180px;
          h5 {
            // margin-top: 20px;
          }
        }
      }

      .veeno {
        margin-top: 15px;
      }

      .num {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 30px;
        text-align: center;
      }

      .color-dot-container {
        display: flex;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
        padding: 8px 5px;
        border-radius: 35px;
        background: $gray;
        box-shadow: 3px 3px 0px rgb(0 0 0 / 10%);

        .color-dot {
          width: 20px;
          height: 20px;
          margin: 0 5px;
          background-color: red;
          border-radius: 50%;
          &:hover {
            border: 2px solid rgba($black,0.4);

          }
          &.active {
            border: 2px solid $black;
          }
        }
      }

      .toggle-container {
        position: relative;
        display: flex;
        height: 25px;
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
        background: $gray;
        box-shadow: 3px 3px 0px rgb(0 0 0 / 10%);
        border-radius: 999px;
        transition: all 300ms ease;
        cursor: pointer;
        $size: 5px;
        $sizeHalf: 2.5px;

        .toggle-section {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 100%;
          position: relative;

        }

        .mauvin-toggle-stroke,
        .mauvin-toggle-dot {
          position: absolute;
          height: 25px;
          width: 25px;
          border-radius: 50%;

          .dot {
            position: absolute;
            width: $size;
            height: $size;
            background: $red;
            z-index: 2;
            border-radius: 50%;
            top: calc(50% - $sizeHalf);
            left: calc(50% - $sizeHalf);
          }
        }

        .mauvin-toggle-stroke {
          border: 1px dashed $black;
        }

        .toggle__handle {
          position: absolute;
          height: 100%;
          width: 50%;
          top: 50%;
          left: 0px;
          transform: translateY(-50%);
          background: white;
          border-radius: 999px;
          box-shadow: 0px 0px 5px 1px #b9b9b9b3
        }

        &.is-on {
          background: #f0f0f2;
          @include transition;
          .toggle__handle {
            left: calc(50% - 2px);
            @include transition;
          }
        }
      }
    }

    #grid-container {
      height: 100vh;
      width: calc(100% - 300px);
      overflow: hidden;
      left: 0;
      top: 0;
    }

    #grid {
      position: absolute;
      top: 0px;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
      will-change: transform;
      height: 100vh;
      width: 100%;
      background-color: #141414;

      background-image:url('/img/grid.svg');
      background-repeat: repeat;
      background-size: 1200px;
      will-change: transform;

      background-position: var(--bgy) var(--bgx) ;
    }

    #moving-action {
      position: absolute;
      margin: 0 auto;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: calc(100vw - 300px);
      * {
        will-change: transform;
      }

    }

    #mauvin-stroke-real {
      padding: 40%;
      border: 8px solid var(--color);
      border-radius: 50%;
      position: absolute;
      &:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height:  calc(100% + 10px);
        border-radius: 50%;
        // box-shadow: inset 1px -3px 20px 20px #1d1d1d, inset 0 -1px 0 0 rgb(222 73 117 / 46%), inset -6px 5px 0 1px rgb(0 0 0 / 30%), 0 2px 4px 0 #d4d4d4;
            }
    }

    #mauvin-person {
      position: relative;
      width: calc(100vw - (750px * 2));
      min-width: 400px;
      max-width: 400px;
      margin: 0 auto;
      // background-image: url('/img/full-mauvin.svg');
      background-repeat: no-repeat;
      will-change: transform;
      // animation: mauvinHover var(--mauvinSpeed) infinite ease-in-out;

      @keyframes mauvinHover {
        0%, 10%, 100% { bottom: 0.75em; }
        50% { bottom: 1.5em; }
      }

      #mauvin-left,
      #mauvin-right {
        position: absolute;
        align-items: center;
        justify-content: center;
        will-change: transform;

      }
      #mauvin-left {
        top: 15%;
        left: 15%;
        display: flex;
        height: 39%;
        width: 46%;

        #mauvin-eye {
          position: absolute;
          height: 33%;
          width: 33%;
          background-image: url('/img/left-eye.svg');
          background-repeat: no-repeat;
        }
      }

      #mauvin-right {
        position: absolute;
        top: 21%;
        right: 4%;
        height: 34%;
        width: 34%;
        display: flex;
        align-items: center;
        justify-content: center;
        will-change: transform;

        #mauvin-eye {
          position: absolute;
          height: 27%;
          width: 27%;
          background-image: url('/img/right-eye.svg');
          background-repeat: no-repeat;
        }
      }
    }
    #mauvins-content {
      position: relative;
      max-width: 900px;
      margin: 0px auto 0;

      h1 {
      }

      h2 {
        margin-bottom: 20px;
      }

      p {
      }
    }

    #data {
      width: 100%;
      margin: 5px 0;

      li {
        display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
        > span {
          font-weight: bold;
          font-size: rem(12);
        }
      }
      .data {
        // position: absolute;
        margin-left: 10px;
      }
    }
  }
}

#code-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #040404;
}
